main{
    background-color: #eee;
    margin: auto;
    padding: 14px;
    width: 800px;
}
body{
    background-color: white;
    font-family:  'sans-serif';
}
h1,h2{
    color: darkgreen;
}
.baniere{
    text-align: center;
}